// Turn xwayland-satellite off.
// Technically environment related? I guess?
// xwayland-satellite { off; }

environment {
    // path for zsh config
    // only need it for interactive sessions
    // started within apps in niri, like foot.
    // no need to set it for systemd services 
    // in wrapper script.
    ZDOTDIR "/home/sanya/.config/zsh/"
    
    CARGO_HOME "/home/sanya/.local/lib/cargo"
    RUSTUP_HOME "/home/sanya/.local/lib/rustup"

    // default wineprefix path 
    // (set here for file manager)
    // (so that windows exe doesnt create .wine dir)
    WINEPREFIX "/home/sanya/.local/share/wineprefixes/default"

    // for wayland compat 
    // (idk how many are useful/needed)
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    SDL_VIDEODRIVER "wayland"
    _JAVA_AWT_WM_NONREPARENTING "1"
    
    // unset display
    // can set selectively for xwayland programs
    DISPLAY null

    // qt theming
    // QT_QPA_PLATFORMTHEME "qt6ct"
	QT_QPA_PLATFORMTHEME "gtk3"
	// QT_STYLE_OVERRIDE "kvantum"
    
	// java options 
    // (prevents .java in home) 
    // (set here mostly for prismlauncher)
    _JAVA_OPTIONS "-Djava.util.prefs.userRoot=/home/sanya/.config/java"

    // ssh auth socket 
    // (set here mostly for keepass)
    // (so that i dont have to set a socket file explicitly)
    SSH_AUTH_SOCK "/run/user/1000/ssh_agent.sock"
}
