// Startup processes

spawn-at-startup "setwall"
spawn-at-startup "rustemp" "4500.0"
spawn-at-startup "swayidle-static"

spawn-at-startup "foot" "--server"
spawn-at-startup "ssh-agent" "-a" "/run/user/1000/ssh_agent.sock"
spawn-at-startup "keepassxc"

