* {
    all: initial;
    font-family: "Symbols Nerd Font", "Iosevka Etoile", sans-serif;
    font-size: 13pt;
    min-height: 0;
}

/* window styling */
window#waybar {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/* common label color */
label {
    color: #f38ba8;
}

/* common properties for modules, tooltip and workspace button */
.module,
tooltip,
#workspaces button {
    background: #720043;
    min-width: 40px;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 5px 0;
}

/* override tooltip background */
tooltip {
    background: rgba(0, 0, 0, 0.5);
}

tooltip label {
    margin: 4px 10px;
}
/* spacing for edge modules (matches spacing defined in config) */
.modules-left:first-child {
    margin-left: 5px;
}

.modules-right:last-child {
    margin-right: 5px;
}

/* separate temp module from cpu, feels like a hack */
#temperature {
    margin-left: 5px;
}

#inhibitor {
    min-width: 20px;
}

/* workspace styling */
#workspaces {
    padding: 0;
}

#workspaces button {
    background: transparent;
    padding: 0;
    margin: 0;
}

/* focused states (invert bg and fg colors) */
#workspaces button.focused,
#inhibitor.activated {
    background: #ffd1db;
}

#workspaces button.focused label,
label#inhibitor.activated {
    color: #720043;
}

label#inhibitor.deactivated {
    color: #ffd1db;
}
