* {
    all: initial;
    font-family: "Symbols Nerd Font", "Iosevka Etoile", sans-serif;
    font-size: 12.5pt;
    min-height: 0;
}

/* window styling */
window#waybar {
    background: rgba(0, 0, 0, 0.67);
    border-radius: 20px;
}

/* common label color */
label {
    color: #f38ba8;
}

/* common properties for modules, tooltip and workspace button */
.module,
tooltip,
#workspaces button {
    background: #720043;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 5px 0;
}

/* override tooltip background */
tooltip {
    background: rgba(0, 0, 0, 0.67);
}

/* spacing for edge modules (matches spacing defined in config) */
.modules-left:first-child {
    margin-left: 5px;
}

.modules-right:last-child {
    margin-right: 5px;
}

/* workspace styling */
#workspaces {
    background: transparent;
    padding: 0;
}

#workspaces button {
    min-width: 20px;
    margin: 0px 5px 0px 0;
}

/* focused states (invert bg and fg colors) */
#workspaces button.focused,
#taskbar button.active {
    background: #ffd1db;
}

#workspaces button.focused label,
#taskbar button.active label {
    color: #720043;
}

/* remove margins for trailing buttons */
#workspaces button:last-child,
#taskbar button:last-child {
    margin-right: 0;
}
