Mod+D { spawn "vesktop"; } // Discord
Mod+S { spawn "signal-desktop" "--password-store=gnome-libsecret"; } // Signal

// Clipboard history
Mod+Apostrophe { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }

// Emoji picker
Mod+Semicolon { spawn "rofimoji"; }

// Screenshot
Mod+Shift+S { screenshot; }
Print { screenshot-screen; }
Alt+Print { screenshot-window; }

Mod+Shift+L { spawn "swaylock"; } // Screen lock

// Open/close the Overview
Mod+O repeat=false { toggle-overview; }

// Close window.
Mod+Q repeat=false { close-window; }

// Quit session
Mod+Shift+E { quit; }
Ctrl+Alt+Delete { quit; }

Mod+V { toggle-window-floating; } // Toggle between floating and tiling

// Volume keys mappings for PipeWire & WirePlumber.
XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

// Media keys mapping using playerctl.
XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }

// Brightness key mappings for brightnessctl.
XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
