binds {    
    Mod+Space { spawn "fuzzel"; } // App launcher
    Mod+T { spawn "footclient"; } // Terminal
    Mod+N { spawn "thunar"; } // File manager
    Mod+B { spawn "firefox"; } // Firefox
    Mod+D { spawn "env" "DISPLAY=" "vesktop"; } // Discord
    Mod+S { spawn "env" "DISPLAY=" "signal-desktop"; } // Signal
    Mod+Apostrophe { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; } // Clipboard history
    Mod+Semicolon { spawn "rofimoji"; } // Emoji picker
    Mod+P { spawn "~/.local/bin/color-picker"; } //color picker 

    Mod+O repeat=false { toggle-overview; } // Open/close the Overview
    Mod+Q repeat=false { close-window; } // Close window
    Mod+Shift+L { spawn "swaylock"; } // Screenlock
    Mod+F4 { spawn "~/.config/fuzzel/scripts/power_menu.sh"; } // Power Menu
    Mod+F5 { spawn "~/.local/bin/service-toggle" "wlsunset"; } // night light
    Mod+F6 { spawn "~/.local/bin/service-toggle" "swayidle"; } // idle
    
    // Screenshot
    Mod+Shift+S { spawn-sh "niri msg action screenshot ; niri msg --json event-stream | grep -m 1 ScreenshotCaptured ; wl-paste | swappy -f -"; }
    Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    
    // Quit
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Volume keys mappings
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Media keys mapping
    XF86AudioPlay  allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop  allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev  allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext  allow-when-locked=true { spawn "playerctl" "next"; }

    // Brightness key mappings
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
}
