// Input devices
include "input-output.kdl"

// Turn xwayland-satellite off
//xwayland-satellite { //off; }

// Window positioning and size
layout {
    gaps 10
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
        // fixed <pixels>
    }
    preset-window-heights { }
    default-column-width { proportion 1.0; }
    focus-ring { off; }
    border { off; }
    shadow { off; }
    background-color "transparent"
    struts { }
}

// Set cursor theme and options
cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
    hide-after-inactive-ms 5000
}

// Ask clients to omit their client-side decorations
prefer-no-csd

// Startup processes
//...would go here if I had any launching from niri

// Disable hotkey overlay
hotkey-overlay { skip-at-startup; }

// Screenshot path
screenshot-path "~/media/PC Screenshots/%Y-%m-%d_%H-%M.png"

// Named workspaces
workspace "terminal"
workspace "browser" {
    layout {
        gaps 0
        struts {
            top 5
        }
    }
}
workspace "chat"

// Overview management
overview { 
    backdrop-color "#0b011d"; 
    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=10 y=10
        color "#00000050"
    }
}

// Animation settings
include "animations.kdl"

// Window rules
include "window-layer-rules.kdl"

// App(-related) keybinds
include "app-binds.kdl"

// Various focus and movement related binds
include "focus-movement-binds.kdl"

/-binds {
    // Monitor focus:
    //Mod+Shift+Left  { focus-monitor-left; }
    //Mod+Shift+Down  { focus-monitor-down; }
    //Mod+Shift+Up    { focus-monitor-up; }
    //Mod+Shift+Right { focus-monitor-right; }

    // Move Columns to Monitor:
    //Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    //Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    //Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    //Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    
    // Move Window to a Monitor:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }
    //Mod+Shift+Ctrl+Up     { move-window-to-monitor-up; }
    //Mod+Shift+Ctrl+Right  { move-window-to-monitor-right; }

    // Move Workspace to Monitor:
    // Mod+Shift+Ctrl+Left   { move-workspace-to-monitor-left; }
    // Mod+Shift+Ctrl+Right  { move-workspace-to-monitor-right; }
    //Mod+Shift+Ctrl+Up      { move-workspace-to-monitor-up; }
    //Mod+Shift+Ctrl+Down    { move-workspace-to-monitor-down; }

    // Move Column adjacent Workspace:
    //Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    //Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    // Move Window to adjacent Workspace: 
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-window-to-workspace-up; }
}
