// Blur settings
blur {
    // off
    passes 3
    offset 6.0
    noise 0.05
    saturation 1.25
}

// Enable rounded corners and blur
window-rule {
    draw-border-with-background false
    geometry-corner-radius 20
    clip-to-geometry true
    background-effect {
        blur true
    }
}

// Put swaybg inside the overview backdrop
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Open terminal with default width as 67% of total screen width
window-rule {
    match app-id="foot"
    default-column-width { proportion 0.67; }
}

// Open discord and signal in "chat" workspace only
window-rule {
    match app-id=r#"^vesktop$|^signal$"#
    open-on-workspace "chat"
    popups {
        background-effect {
            blur true
        }
    }
}

// Block KeePassXC from screen capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

// Open some windows as floating
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"# title="^Unlock Database - KeePassXC"
    match app-id="thunar" title="File Operation Progress"
    match app-id=r#"xarchiver|pavucontrol|zenity|swappy"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Enable blur behind waybar, mako and fuzzel
layer-rule {
    match namespace="^waybar$|^notifications$|^launcher$"
    background-effect {
        blur true
        xray false
    }
    geometry-corner-radius 20

    // And behind their popups
    popups {
        background-effect {
            blur true
            xray false
        }
        geometry-corner-radius 20 
    }
}
