blur {
    // off
    passes 3
    offset 6.0
    noise 0.05
    saturation 1.25
}

// Enable rounded corners, blur (for supported windows) and border for all windows
window-rule {
    draw-border-with-background false
    geometry-corner-radius 20
    clip-to-geometry true
    background-effect {
        blur true
    }
    border {
        on
        width 4
        active-color "#f38ba8"
        inactive-color "#720043"
    }
}

// Put swaybg inside the overview backdrop
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Open terminal with default width as 67% of total screen width
window-rule {
    match app-id="foot"
    default-column-width { proportion 0.67; }
}

/-window-rule {
    match app-id="codium"
}

// Open discord and signal in "chat" workspace only
window-rule {
    match app-id=r#"^vesktop$|^signal$|^electron$"#
    open-on-workspace "chat"
    popups {
        background-effect {
            blur true
        }
    }
}

// Block KeePassXC from screen capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

// Open some windows as floating
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    // title="^Unlock Database - KeePassXC"
    match app-id=r#"qalculate-gtk|steam|xarchiver|pavucontrol|zenity|com.gabm.satty"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Enable blur behind waybar
layer-rule {
    match namespace="^waybar$"
    background-effect {
        blur true
        xray false
    }
    geometry-corner-radius 20
    // And behind its popups
    popups {
        background-effect {
            blur true
            xray false
        }
        geometry-corner-radius 20 
    }
}

// Enable blur behind mako notifs and fuzzel
layer-rule {
    match namespace=r#"^notifications$|^launcher$"#
    background-effect {
        blur true
        xray false
    }
    geometry-corner-radius 20
}
