#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
	theme: "main",
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "60%",
                        borders: "ALL",
                        border_symbols: Rounded,
                        pane: Pane(AlbumArt)
                    ),
                    (
                        size: "40%",
                        borders: "ALL",
                        border_symbols: Rounded,
                        pane: Pane(Queue)
                    ),
                ],
            ),
        ),
        (
            name: "Album Artists",
            pane: Pane(AlbumArtists),
            
        ),
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
			pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
    ],
)
